<html>
    <head>
        <meta charset="utf-8">
        <title>Add Plan</title>
        <meta name="description" content="Add Plan">
    </head>
    <body>
          <form action="{% url 'login_index' %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Home">
          </form>
          <form action="{% url 'login_logout' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Logout">
          </form>
                {% if messages %}
                <ul>
                    <li>ATTENTION REQUIRED!</li>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2>Add a Trip</h2>
                    <form action="{% url 'travels_createtravel' %}" method="post">
                    {% csrf_token %}
                    <label>Destination:</label>
                    <input type="text" name="destination">
                    <label>Description:</label>
                    <input type="text" name="description">
                    <label>Travel Date From:</label>
                    <input type="date" name="travel_date_from">
                    <label>Travel Date To:</label>
                    <input type="date" name="travel_date_to">
                    <input id="submitadd" type="submit" value="Add">
                    </form>

</body>
</html>
